*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(/Stopwatch/img/ceu.jpg);
    background-position: center;
    background-size: cover;
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#panel{
    width: 300px;
    height: 300px;
    background-color: #2c2230f6;
    text-align: center;    
    display:flex;
    align-items: center;
    justify-content:center;
    gap: 1.5px;
    border-radius: 50%;
}

h1{
    color: white;
}

button{
    height: 2.5em;
    width: 5.5em;
    color: white;
}
button:hover{
    cursor: pointer;
}
.start-bnt{
    background-color: rgb(39, 152, 39);
    
}
.pause-bnt{
    background-color: gray;
}
.stop-bnt{
    background-color: rgb(255, 44, 44);
}